* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
  background-color: rgb(13, 36, 63);
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 130px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}

nav .active a,
nav a:hover {
  border-bottom: solid yellow 2px;
  padding-bottom: 5px;
}

/* main */

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-main {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  flex-wrap: wrap;
}

.subscribe h1 {
  color: white;
  font-size: 60px;
  color: rgb(250, 250, 4);
}

.subscribe h2 {
  color: white;
  font-size: 50px;
  margin-top: 10px;
}

.subscribe p {
  color: white;
  font-size: 14px;
  width: 420px;
  line-height: 20px;
}

form {
  margin-top: 30px;
}

form input {
  padding: 10px;
  width: 300px;
  border-radius: 16px;
  border: none;
  padding-left: 20px;
}

.btn {
  margin-top: 20px;
  background-color: rgb(194, 194, 7);
  color: black;
  padding: 5px;
  width: 70px;
  border: none;
  border-radius: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgb(231, 231, 48);
}

.email {
  margin-top: 20px;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

footer .barra {
  background-color: rgb(23, 55, 92);
  width: 180px;
  height: 8px;
  margin-top: 60px;
  border-radius: 3px;
}

.bar-color {
  background-color: rgb(243, 243, 39);
  width: 50px;
  height: 8px;
  border-radius: 3px;
  margin-left: 630px;
  margin-top: -68px;
}

.menu-mobile {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.line {
  height: 3px;
  background-color: rgb(243, 243, 39);
}


/* responsivo */

@media (max-width: 1212px) {
     .subscribe {
      padding-left: 40px;
     }
  }

  @media (max-width: 610px) {
    .img img {
      width: 500px;
      padding-left: 30px;
      margin-top: 30px;
    }
 }

 @media (max-width: 600px) {
   nav ul {
    position: absolute;
    flex-direction: column;
    display: none;
    left: 0;
    width: 100%;
   }


   .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

   main {
    margin-top: 200px;
   }

   .menu-mobile {
    margin-top: 60px;
    margin-left: 40px;
   }

   nav ul {
    margin-left: 30px;
   }

   .subscribe h1 {
    font-size: 40px;
   }

   .subscribe h2 {
    font-size: 30px;
   }

   .subscribe p {
    font-size: 10px;
    width: 200px;
   }

   .subscribe {
    margin-left: 50px;
   }


}
  


    


   



